#!/usr/bin/python

class Config(object):

    broker = "";
    port = 1883;
    user = "";
    password = "";
    keepalive = 60;
    logfile = "/var/log/avarage.log";
    baseTopic = "/home/screen/color"